{% extends "./layout.html" %}
{% block title %}FAQ分类-{{ game.name }}-{{ page.title }}{% endblock %}
{% block keywords %}{{ page.keywords }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block content %}
  <div class="index-one">
        <section class="w-secWidth">
            <div class="w-secBar clearfix">
                <div class="hot-item clearfix">
                    <span class="hotgame w-writter-size">{{ game.name}} - {{categoryFaq.name}}</span>
                    <div class="sosu">
                        <input type="text" placeholder="请输入问题关键字" onkeypress="if(event.keyCode==13) {searchByGame();return false;}">
                        <span class="search w-Sear" onclick="searchByGame()"></span></div>
                    <!-- 下拉框 -->
                    <div class="dropdown" id="select">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <label id="selectLabel" gameId='{{game.id}}'>{{ game.name}}</label>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          {% for item in gameList %}
                            <li><a href="#" gameId='{{item.id}}'>{{ item.name }}</a></li>
                          {% endfor %}
                        </ul>
                    </div>
                    <!-- 分割线 -->
                    <span id="w-secbar-line-all">
                </div>
                <div class="hot-content faqcontact faqfankui fankui-detail">
                      <ul class="w-faqcontact clearfix w-allbg">
                        {% for item in categoryQueryList %}
                            <li class="w-faqfaqcontact-title w-allcolorfont">
                                <a href="/detail/{{item.id}}"><span>{{item.asked}}</span></a>
                            </li>
                            <li class="w-faqfaqcontact-content w-allcolorfont">
                                {{ item.questions }}
                            </li>
                        {% endfor %}

                          <li class="paging">
                              <nav aria-label="...">
                                  <ul class="pagination">
                                      {% if page-1 >= 0 %}
                                      <li><a href="/{{gameId}}/{{categoryId}}?p={{page-1}}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                      {% endif %}
                                      {% asyncEach item in pages %}
                                          {% if page == item %}
                                            <li class="active"><a href="/{{gameId}}/{{categoryId}}?p={{item}}">{{item+1}}<span class="sr-only">(current)</span></a></li>
                                          {% else %}
                                            <li><a href="/{{gameId}}/{{categoryId}}?p={{item}}">{{item+1}}</a></li>
                                          {% endif %}
                                      {% endeach %}
                                      {% if page+1 < totalPages %}
                                        <li><a href="/{{gameId}}/{{categoryId}}?p={{page+1}}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                      {% endif %}
                                  </ul>
                              </nav>
                          </li>
                      </ul>
                  </div>
            </div>

        </section>
    </div>
{% endblock %}


{% block afterScript %}

{% endblock %}
