{% extends "./layout.html" %}
{% block title %}FAQ详情-{{faq.asked}}-{{ page.title }}{% endblock %}
{% block keywords %}{{ page.keywords }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block content %}
<div class="index-one">

       <section class="w-secWidth">
           <div class="w-secBar clearfix">
               <div class="hot-item clearfix">
                   <span class="hotgame w-writter-size"> {{game.name}} - {{faq.categoryFaq.name}}</span>
                   <div class="sosu">
                     <input type="text" placeholder="请输入问题关键字" onkeypress="if(event.keyCode==13) {searchByGame();return false;}">
                     <span class="search w-Sear" onclick="searchByGame()"></span></div>
                   <div class="dropdown" id="select">
                       <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                         <label id="selectLabel" gameId='{{game.id}}'>{{ game.name}}</label>
                         <span class="caret"></span>
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                         {% for item in gameList %}
                           <li><a href="#" gameId='{{item.id}}'>{{ item.name }}</a></li>
                         {% endfor %}
                       </ul>
                   </div>
                   <!-- 分割线 -->
                   <span id="w-secbar-line-all">
                   <!-- <i class="w-line-blue"></i></span> -->
               </div>
               <div class="hot-content faqcontact faqfankui">
                    <ul class="w-faqcontact clearfix w-allbg">
                        <li class="w-faqfaqcontact-title w-allcolorfont">
                            <span>{{faq.asked}}</span>
                        </li>
                        <li class="w-faqfaqcontact-content w-allcolorfont">
                            {{faq.questions}}
                        </li>
                        <li class="w-faqcontact-assess w-allcolorfont">
                            <div><img src="/static/css/images/star.png" alt="对您有用就赞一下吧~" onclick="iLikes()"><span class="w-faqfaqcontact-num">{{faq.likes}}</span>人觉得有用</div>
                            <div>没有您想要的内容?试试<a href="/feedback/{{faq.id}}">我要纠错</a></div>
                        </li>
                    </ul>
                    <div class="w-faqcon-two clearfix faqguanlian">
                        <div class="w-faq-contactque">
                            <span class="w-writter-size">关联问题</span>
                            <span id="w-secbar-line-all">
                        </div>
                        <ul class="w-faqcon-two clearfix w-allbg w-allcolorfont">
                          {% for item in recommendFaq %}
                            <li class="w-faq-list"><i></i><a href="/detail/{{item.id}}">{{item.asked}}</a></li>
                         {% endfor %}
                       </ul>
                      </div>


                </div>
           </div>
       </section>
   </div>
{% endblock %}


{% block afterScript %}
 <script type="text/javascript">
  var faq_id = {{faq.id}};
  function iLikes () {
    var isLike = localStorage[faq_id];
    if (isLike) { alert("您已经赞过了噢~"); return; }
    var url = "/post/like/" + faq_id;
    $.post(url,function(result){
      $(".w-faqfaqcontact-num").text(result.data.likes);
      localStorage[faq_id] = true;
    })
  }

 </script>
{% endblock %}
