body{
	background-color: #f6f6f6;
	font-family: 微软雅黑;
	color: #696969;
	font-size:62.5%;
}
.banner{
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #65a3dd;
}
.banner .banner-2{
	font-size: 3.6rem;
	margin: 0 auto;
	text-align: center;
}
.banner .banner-3{
	width: 40px;
	height: 40px;
	float: right;
	margin-right: 23px;
	line-height: 90px;
	margin-top: 14px;
}
.search{
	padding-top: 15px;
	padding-bottom: 15px;
}
.search-0{
	height: 64px;

	background-repeat: no-repeat;
	margin: 0 auto;
}
.search-1{
	border: 0px;
	font-size: 20px;
	display: inline-block;
	height: 45px;
	margin-top: 9px;
}
.search-2{
	margin-right: 20px;
	margin-top: 10px;
}
 ::-webkit-input-placeholder {
           font-size: 18px;
}
:-moz-placeholder {/* Firefox 18- */
	font-size: 18px;
 }
                
::-moz-placeholder{/* Firefox 19+ */
	font-size: 18px;
}

:-ms-input-placeholder {
   font-size: 18px;
}

.wenti p{
	color: #65a3dd;
	margin: 0 auto;
	font-size: 24px;
}

.all{
	background-color: #fff;
	height: 680px;
}
 .xia-2 a{
	text-align: center;
	margin: 0 auto;
}

.xia-2{
	margin-top: 10px;
	font-size: 24px;
}
.xia-2 p{
	background-color: #eee;
	padding-top: 5px;
	padding-bottom: 5px;
}
.down{
	width: 640px;
	position: fixed;
	left: 0;
	bottom: 0;
	margin-top: 15px;
	height: 100px;
	background-color: #fff;
}
.footer{
	height: 100px;
	width: 580px;
	margin: 0 auto;
}
.footer li{
	width: 80px;
	height: 70px;
	float: left;
	margin-top: 15px;
}
.footer-1{
	background-image: url(../img/1.png);
}
.footer-2{
	background-image: url(../img/2.png);
	margin-left: 170px;
	margin-right: 170px;
}
.footer-3{
	background-image: url(../img/3.png);
}