
body{
	background-color: #f6f6f6 !important;
}
.banner{
	color: #fff;
	background-color: #65a3dd;
}
.banner a{
	float: left;
	margin-left: 20px;
	padding-top: 9px;
}
.banner p{
	margin: 0 auto;
	text-align: center;
	font-size: 36px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.last{
	font-size: 24px;
}
.wenti p{
	padding-top: 10px;
	font-size: 24px;
	margin-left: 10px;
}
.wrap{
	margin: 0 auto;
	color: #000;
}
.leibie{
	height: 110px;
	margin-top: 80px;
}
.leibie p{
	font-size: 24px;
}
.wrap .leibie-1{
	color: #000;
	width: 530px;
}
.wrap .leibie-2{
	display: inline-block;
	width: 50px;
}
.btn{
	font-size: 24px !important;
}
.wrap .row .caidan{
	width: 503px;
}

.aiyou{
	width: 200px;
	font-size: 24px;
}
.yijian p{
	font-size: 24px;
	margin-left: 10px;
}
.wrap .yijian-2{
	display: inline-block;
	font-size: 20px;
}
.wrap .yijian-2 textarea{
	display: inline-block;
}
.wrap .tijiao{
	height: 60px;
	margin-top: 10px;
	background-color: #f6987b;
	font-size: 28px;
	border-radius: 6px;
	border-left:0px;border-top:0px;border-right:0px;border-bottom:0px;

}