@media (min-width: @screen-sm-min) { 

.banner{
	height: 60px;
}
}
body{
	background-color: #f6f6f6;
}
.banner{
	color: #fff;
	margin-bottom: 10px;
	background-color: #65a3dd;
}
.banner img{
	float: left;
    line-height: 75px;
    margin-left: 20px;
    padding-top: 8px;
}
.banner p{
	line-height: 60px;
	text-align: left;
	margin-left: 15px;
	// float: right;
	font-size: 36px;
	// padding-top: 20px;
	// margin-right: 248px;
}
.asd{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 28px;
	margin-left: 15px;
}
.tip{
	height: 105px;
	background-color: #f6f6f6;
}
.tip p{
	font-size: 30px;
	color: #f6987b;
	line-height: 105px;
	text-align: center;
}

.gamelist li{
	font-size: 22px;
    background-color: #fff;
    padding-top: 10px;
    margin-bottom: 10px;
    /*padding-bottom: 10px;*/
    margin-left: 10px;
    margin-right: 10px;
}
.gamelist p{
	margin-left: 7px;
	display: inline-block;
}
.gamename a{
	// width: 600px;
	color: #000;
	display: inline-block;
	margin-left: 30px;
}
.gamelist img{
	display: inline-block;
	width: 18px;
	height: 32px;
	float: right;
	margin-right: 20px;
}
