body{
	background-color: #f6f6f6;
}

.result{
	font-size: 28px;
}

.tip{
	width: 580px;
	margin: 0 auto;
	height: 105px;
	background-color: #f6f6f6;
}
.tip p{
	font-size: 30px;
	line-height: 105px;
	text-align: center;
}
.wrap .tip span{
	color: #65a3dd;
}

.gamelist li{
	font-size: 22px;
    background-color: #fff;
    padding-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /*padding-bottom: 10px;*/
}
.gamelist p{
	margin-left: 10px;
	display: inline-block;
	 max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gamename a{
	// width: 600px;
	color: #000;
	display: inline-block;
	margin-left: 30px;
}
.gamelist img{
	display: inline-block;
	width: 18px;
	height: 32px;
	float: right;
	margin-right: 20px;
}