input{
    border: none;
}
ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    border: none;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #000;
}
.banner{
	color: #fff;
	background-color: #65a3dd;
	margin-bottom: 6px;
}
.banner a{
	float: left;
	margin-left: 20px;
	padding-top: 3px;
}
.banner p{
	font-size: 34px;
}

.white-bg {
	background-color: #fff;
}
