input{
    border: none;
}
ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    border: none;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #000;
}
.banner{
	color: #fff;
	background-color: #65a3dd;
}
.banner a{
	float: left;
	margin-left: 20px;
	padding-top: 13px;
}
.banner p{
	font-size: 36px;
	padding-top: 10px;
	padding-bottom: 10px;
}
