{% extends "./layout.html" %}

{% block title %}{{ page.title }}{% endblock %}
{% block keywords %}{{ page.keywords }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="/static/mobile/css/result.css">
{% endblock %}

{% block content %}
<div class="banner">
            <a href="/{{game.id}}"><img src="/static/mobile/img/banner.png" alt=""></a>
            <p>{{game.name}}</p>
        </div>
    <div class="wrap">
        <p>
          查询 <span>{{query}}</span> 结果
        </p>
        <ul class="gamelist">
            {% for item in categoryQueryList %}
            <li><a href="/detail/{{item.id}}"><p>{{item.asked}}</p><img src="/static/mobile/img/sanjiao.png" alt="{{item.asked}}"></a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
