{% extends "layouts/layout.html" %}

{% block header %}koa2-template{% endblock %}

{% block content %}
    <div class="">
      <p>
        这是移动端
      </p>
      <p>
        {{ title }}
      </p>
      <ul>
        {% for item in bannerList %}
        <li><a href="#">{{ item.title }}</a> {{ item.imgurl }}</li>
        {% endfor %}
      </ul>
      <ul>
        {% for item in productList %}
        <li><a href="#">{{ item.proname }}</a> {{ item.imgurl }}</li>
        {% endfor %}
      </ul>
      <ul>
        {% for item in FriendlyList %}
        <li><a href="#">{{ item.friendname }}</a> {{ item.imgurl }}</li>
        {% endfor %}
      </ul>
      <h1>
        userAgent:
        {{userAgent}}
      </h1>
      <h1>
        是否浏览器：
        {{isMobile}}
      </h1>
    </div>
{% endblock %}
