{% extends "./layout.html" %}

{% block title %}{{ page.title }}{% endblock %}
{% block keywords %}{{ page.keywords }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="/static/mobile/css/index.css">
{% endblock %}

{% block content %}
<div class="wrap">
     <div class="banner">
         <img src="/static/mobile/img/banner.png" alt="">
         <p>选择游戏</p>
     </div>
     <p class="asd">请选择游戏产品</p>
     <ul class="gamelist">
         {% for item in gameList %}
            <li class="gamename"><a href="/{{item.id}}"><p>{{ item.name }}</p> <img src="/static/mobile/img/sanjiao.png" alt="{{ item.name }}"></a></li>
         {% endfor %}
     </ul>

 </div>
{% endblock %}
