<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=640,target-densitydpi=320, minimum-scale=0.5, maximum-scale=2,user-scalable=0">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="icon" href="/static/css/images/favicon.png" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" type="text/css" href="/static/mobile/css/style.css">
    {% block css %}{% endblock %}
    <script src="/static/js/jquery-1.10.2.min.js" charset="utf-8"></script>
    {% block afterHead %}{% endblock %}
</head>
  <body id="app">
    {% block content %}

    {% endblock %}

    {% block afterScript %}

    {% endblock %}

    <div style="display:none">
      <script src="https://s11.cnzz.com/z_stat.php?id=1260835014&web_id=1260835014" language="JavaScript"></script>
    </div>
  </body>
  </html>
</html>
