footer {
    width: 100%;
    background-color: rgb(35, 35, 35);
    height: 186px;
    padding-top: 9px;
}

footer p {
    text-align: center;
    color: white;
    /* line-height: 6px; */
    height: 30px;
    padding-top: 25px;
}

// header
.index header.w-secheader {
    height: 110px;
    background-color: #fff;
}

header.w-secheader {
    background-color: #fff;
}

a.logo {
    margin: 16px 0;
    background: url(../images/logo.png) no-repeat !important;
    // background-size: contain;
    width: 181px;
    height: 49px;
    text-indent: -9999px;
    // margin-left: 400px;
}
